.headerDescriptionWrapper {
  text-align: center;
  height: 150px;
  background-color: black;
}

.popularItems {
  background-color: black;
  color:rgb(255, 215, 86);
  height: 400px;
}

.listWrapper {
  margin-left: 140px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.header {
  color: rgb(255, 215, 86);
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.description {
  color: rgb(255, 215, 86);
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.itemWrapper {
  display: flex;
  height: 100px;
}

.textWrapper {

}


.price {
  color: red;
}

.priceWrapper {
  position: absolute;
  bottom: 0;
}