/* @custom-media --phone-and-down (max-width: 599.5px);
@custom-media --tablet-and-up (min-width: 600px);
@custom-media --tablet-and-down (max-width: 1023.5px);
@custom-media --laptop-and-up (min-width: 1024px);
@custom-media --laptop-and-down (max-width: 1199.5px);
@custom-media --desktop-and-up (min-width: 1200px);
 */

@media screen and (max-width: 1200px) {
  .mainWrapper {
    width: 100%;
  }
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  background-color:black;
  color: #ffd756;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-width: 1000px;
  min-height: 1000px;
}

.imageContainer {
  width: 600px;
  height: 600px;
  margin-right: 50px;
}

.image {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.topBlock {
  display: flex;
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .topBlock {
    min-height: 100vh
  }
  
  .imageContainer {
    width: 80%;
    margin-bottom: 40px;
  }

  .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.welcome {
  text-align: center;
}

.titleButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.name {
  font-size: 50px;
}

.address {
  margin-top: 10px;
  color: #f3e4b4;
  font-size: 20px;
}

.hours {
  font-size: 20px;
  color: #f3e4b4;
  margin-bottom: 30px;
}

.phone {
  text-decoration: none;
}

.button {
  color:red;
  cursor: pointer;
  border-style: outset;
  border-color: #f3e4b4;
  padding: 10px;
}

#textBlock {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.menuWrapper {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}